@keyframes vibrate {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-5deg);
  }
  20% {
    transform: rotate(-10deg);
  }
  30% {
    transform: rotate(-15deg);
  }
  40% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(-25deg);
  }
  60% {
    transform: rotate(-20deg);
  }
  70% {
    transform: rotate(-15deg);
  }
  80% {
    transform: rotate(-10deg);
  }
  90% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.vibrate-animation {
  animation-name: vibrate;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
}
